{% extends "base.html" %}
{% block content %}
        <form action="/register" method="post">
            <br><input type="text" name="email" placeholder="Email" value="{{email}}"
            style="text-transform:uppercase" required>
            <br><input type="password" name="pass1" placeholder="Codephrase" required>
            <br><input type="password" name="pass2" placeholder="Confirm Codephrase" required>
            <br><input type="submit" value="Confirm">
        </form>
        <div>Current Agents Login <a href="./login">HERE</a></div>
{% endblock%}
