{% extends "base.html" %}

{% block content %}
        <h1>TODOs</h1>
        <form action="/" method="post">
            <label>
                New Task:
                <input type="text" name="task" autofocus required>
            </label>
            <input type="Submit" value="Add Task">
        </form>
        <hr>
        {% if tasks|length == 0 %}
        <p>No tasks yet</p>
        {% else %}
        <ul>
            {% for item in tasks %}
                <li>{{ item }}</li>
                {% endfor %}
        </ul>
        {% endif %}
{% endblock %}
